/* Big tablet to 1200px */

@media only screen and (max-width: 1200px) {
    html {
        font-size: 16px;
    }

    .heading-main-box {
        transform: translate(-80%, -55%);
    }

    .product-box ul li {
        margin-left: 10%;
    }

    .product-box .btn {
        margin-left: 13%
    }

    form {
        width: 70%;
    }
}

/* Small tablet to big tablet from 768px to 1023px */

@media only screen and (max-width: 1023px){
    .logo {
        width: 250px;
        margin-left: 20px;
        margin-top: -30px
    }

    .main-nav {
        margin-right: 30px;
        margin-top: 45px;
    }

    .main-nav li {
        margin-right: 20px;
    }

    .heading-main-box {
        transform: translate(-55%, -55%);
    }

    .heading-main-box .btn {
        width: 150px;
    }

    h1 {
        width: 140%;
    }

    .picture-title {
        text-align: center;
    }

    h3 {
        font-size: 90%;
    }

    .product-box {
        width: 100%;
    }

    .product-box ul li {
        margin-left: 5%;
    }

    .product-box .btn {
        width: 80%;
        margin-left: 10%;
    }

    .logo-sponsor:hover {
        transform: scale(1.1);
    }

    .information {
        margin-top: 40px;
    }

    .information li {
        margin-bottom: 10px;
    }

    .information i {
        display: block;
    }

    .information .small-icon:hover {
        transform: scale(1);
    }

    .social-icons li {
        font-size: 180%;
    }

    form {
        width: 70%;
        margin-left: 20%;
    }

}

/* Small phones to small tablet from 481px to 767px */

@media only screen and (max-width: 767px){
    .col {
        width: 100%;
        margin: 5% 0;
    }

    .main-nav{
        display: none;
    }

    .logo {
        width: 60%;
        margin-left: 5%;
        margin-bottom: -100px;
    }

    .nav-icon {
        visibility: visible;
    }

    h1 {
        font-size: 220%;
        width: 100%
    }

    .heading-main-box {
        transform: translate(0,-55%);
        width: 90%;
        left: 5%;
        padding-left: 5%;
    }

    .heading-main-box .btn {
        position: relative;
        left: 5%;
    }

    .p-long {
        width: 80%;
        margin-left: 10%;
    }

    .about-section .row {
        text-align: center;
    }

    .about-picture img {
        width: 70%;
    }

    .picture-title {
        font-size: 120%
    }

    .product-box {
        width: 70%;
        margin-left: 15%;
    }

    .product-box ul li {
        font-size: 110%;
        margin-left: 15%;
    }

    .product-box .btn {
        width: 70%;
        margin-left: 15%;
    }

    figcaption {
        visibility: hidden;
    }

    .logo-sponsor {
        width: 100%;
    }

    .contact-section .row {
        text-align: center;
    }

    .information li {
        font-size: 120%;
    }

    .social-icons {
        font-size: 140%;
    }

    form {
        width: 100%;
        margin-left: 0;
    }

    textarea, input {
        margin-left: 0;
    }

    form .row {
        margin-bottom: 0;
    }
}

/* Small phones 390px to 480px */

@media only screen and (max-width: 480px){
    h1 {
        font-size: 180%;
    }



    .heading-main-box .btn {
        display: block;
        margin-bottom: 5%;
        width: 60%;
        margin-left: 10%;
    }

    .p-long {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 30px;
    }

    .picture-title{
        font-size: 100%;
        left: 55%;
    }

    .main-nav li {
        font-size: 80%;
        margin-right: 10px;
    }

    .nav-icon {
        position: relative;
        margin-top: 7%;
        margin-left: -7%;
        left: 20%;
    }

    blockquote {
        margin-bottom: 50px;
    }

    .sticky .nav-icon {
        margin-left: 20px;
        margin-top: 13%;
        left: 75%;
    }
}